@import './base.less';
.m-radio-group{
  .van-radio{
    margin-bottom: 10px !important;
  }
  .van-radio__icon--checked .van-icon{
    color: #8b68e6 !important;
    background-color: #8b68e6 !important;
    border-color: #8b68e6 !important;
  }
}
.m-choose-date-form{
  .van-field{
    border-bottom: 1px solid #c1c1c1 !important;
  }
}
.el-cascader-panel-mobile {
  width: 100vw !important;
}
.reservation-information{
  .el-input-group--prepend .el-input-group__prepend .el-select .el-select__wrapper{
    box-shadow: none !important;
  }
  .el-checkbox__input.is-checked{
    .el-checkbox__inner{
      background-color: #ec6e38 !important;
      border-color: #ec6e38 !important;
    }
  }
  .el-checkbox__input.is-checked+.el-checkbox__label{
    color: #ec6e38 !important;
  }
}

